* {
	box-sizing: border-box;
}

body {
	background-color: #030301;
}

h1 {
	color: #f4faff;
	font-family: 'Lato';
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: .75em;
}

h2 {
	margin: 0;
	padding: 2em;
	color: #C8003C;
	font-family: 'Lato';
	text-transform: uppercase;
	letter-spacing: .3em;
	font-weight:1000;
	font-size: 1em;
	text-align: center;
}

h3 {
	color: #666;
	font-family: 'Lato';
	font-size: 1em;
	font-weight: 200;
	margin-bottom: .2em;


}

h4 {
	color: #333;
	font-family: 'Lato';
	font-size: .75em;
	margin:0;

}

h5 {
	color: #555;
	font-family: 'Lato';
	font-size: .75em;
	margin:0;

}


.header {
	position: fixed;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #030301;
}

.buffer {
	padding: .75em;

}

#kyle-kutner {
	display: inline-block;
}

/*HAMBURGER*/

#container {
	display: inline-block;
	cursor: pointer;
	position: relative;
	float:right;
}

.bar1, .bar2, .bar3 {
	width: 30px;
	height: 3px;
	background-color: #f4faff;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

#nav {
	display: none;
	z-index: 1;
	background-color: #353533;
	height: 100vh;
	width: 100%;

}

.nav-container {
	padding: .75em;

}

.images {
	margin-top: 15%;
}

.image {
	display: inline-block;
	width: 100%;
}

.image::after {
	padding-top: 100%;
    display: block;
    content: '';
}


img {
	width: 100%;
	height: auto;
	background-position: center;
}


[class*="drawing-"], [class*="painting-"], [class*="gd-"], [class*="sketch-"]  {
  	background-size: cover;
	background-color: #fff;
	background-position: center;
}

.overlay {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container {
	position: relative;
}

.container:hover .overlay {
  opacity: 1;
}


.info {
}






/*.drawing-1 { background-image: url(images/drawings/drawing_1.jpg);}
.drawing-2 { background-image: url(images/drawings/drawing_2.jpg);}
.drawing-3 { background-image: url(images/drawings/drawing_3.jpg);}
.drawing-4 { background-image: url(images/drawings/drawing_4.jpg);}
.drawing-5 { background-image: url(images/drawings/drawing_5.jpg);}
.drawing-6 { background-image: url(images/drawings/drawing_6.jpg);}
.drawing-7 { background-image: url(images/drawings/drawing_7.jpg);}

.painting-1 {background-image: url(images/paintings/painting_1.jpg);}
.painting-2 {background-image: url(images/paintings/painting_2.jpg);}
.painting-3 {background-image: url(images/paintings/painting_3.jpg);}
.painting-4 {background-image: url(images/paintings/painting_4.jpg);}
.painting-5 {background-image: url(images/paintings/painting_5.jpg);}
.painting-6 {background-image: url(images/paintings/painting_6.jpg);}
.painting-7 {background-image: url(images/paintings/painting_7.jpg);}*/

.gd-1 {background-image: url(images/graphic_design/closed_blinds_1.jpg);}
.gd-2 {background-image: url(images/graphic_design/clean_cat.jpg);}

.gd-3 {background-image: url(images/graphic_design/kutty.jpg);}
.gd-3:hover {background-image: url(images/graphic_design/kutty.gif);}

.gd-4 {background-image: url(images/graphic_design/orb.jpg);}
.gd-5 {background-image: url(images/graphic_design/matter_or_more_1.jpg);}
.gd-6 {background-image: url(images/graphic_design/matter_or_more_2.jpg);}
.gd-7 {background-image: url(images/graphic_design/matter_or_more_3.jpg);}
.gd-8 {background-image: url(images/graphic_design/matter_or_more_4.jpg);}


.sketch-1 {background-image: url(images/sketch/cube_tenticles.jpg);}
.sketch-2 {background-image: url(images/sketch/gem.jpg);}

.sketch-3 {background-image: url(images/sketch/texture.jpg);}
.sketch-3:hover {background-image: url(images/sketch/texture.gif);}

.sketch-4 {background-image: url(images/sketch/easy_enthusiasms.jpg);}
.sketch-5 {background-image: url(images/sketch/closed_blinds.jpg);}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 5px;
}

.offset-1 {margin-left: 8.33%;}
.offset-2 {margin-left: 16.66%;}
.offset-3 {margin-left: 25%;}


.project {
	margin-top: 10%;

}

.project h1 {
	font-size: 2em;
	text-align: center;
	letter-spacing: .15em;
}

.project p {
	font-size: .9em;
	color: #999;
	line-height: 1.8em;
	font-family: "Merriweather";
}

.project-image-bleed {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 3em;
	height: 40em;
	overflow: hidden;
}

.project-image-reg {
	display: inline-block;
	margin-left: 25%;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 50%;
	overflow: hidden;
}

.project-image-art {
	display: inline-block;
	margin-left: 15%;
	margin-top: 1em;
	width: 70%;
	overflow: hidden;
}

.art-title {
	margin-left: 15%;
}

iframe {
	border-width: 0px;
}




@media (min-width: 1000px) {




}